body {
    margin: 0;
    padding: 0;
    border: 0;
}

* {
    font-family: 'Open Sans', sans-serif;
}

.homeMottoSection {
    color: #DBA159;
    background-color: #F7FFDD;
    width: 100%;
    height: 500px;
    text-align: center;
    padding-top: 50px;
}

.homeMotto {
    font-size: 75px;
    margin: 0;
}

.homeGetStartedButton {
    font-size: 60px;
    color: #DBA159;
    border: 5px solid #DBA159;
    background-color: #F7FFDD;
    border-radius: 10px;
    margin-top: 30px;
}

.homeGetStartedButton:hover {
    color: #F7FFDD;
    background-color: #DBA159;
    cursor: pointer;
}

.homeUsersSection {
    background-color: #DBA159;
    width: 100%;
    padding-bottom: 50px;
    text-align: center;
    padding-top: 10px;
}

.homeUsersHeader {
    font-size: 50px;
    color: #f7ffdd;
}

.homeUsersNone {
    color: #f7ffdd;
    font-style: italic;
    font-size: 30px;
}

.homeUsersListItem {
    color: #f7ffdd;
    font-size: 30px;
    padding: 0;
    margin: 10px;
}
